<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Host=iap-01-bidb02.ogk.energo.local;Username=postgres;Password=postgres;Database=postgres;"
        providerName="Npgsql"/>
  </connectionStrings>
</configuration>